.wstd-route-module {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: transparent;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    z-index: 11;
}
.wstd-route-module * {
    box-sizing: border-box;
    margin: 0;
}

.wstd-route-module .container-wstd-fluid {
    background-color: #fff;
    box-shadow: 0 0 3px 1px #ccc;
}
.wstd-route-module .container-module-wstd {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    display: none;
    align-items: center;
    background-color: #fff;
    padding: 10px;
}
.wstd-route-module .container-module-wstd-btn {
    /* max-width: 100%; */
    /* width: 1200px; */
    /* margin: 0 auto; */
    position: absolute;
    top: -55px;
    left: 5px;
}

/*.wstd-route-module .wstd-route-btn {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*width: 100px;*/
    /*text-align: center;*/
    /*!* height: 50px; *!*/
    /*border-radius: 5px;*/
    /*background-color: #5ca837;*/
    /*padding: 10px;*/
    /*cursor: pointer;*/
/*}*/
/*.wstd-route-module .wstd-route-btn p{*/
    /*font-size: 1em;*/
    /*color: #fff;*/
    /*font-family: Roboto, sans-serif;*/
    /*cursor: pointer;*/
/*}*/
/*.wstd-route-module .wstd-route-btn i {*/
    /*margin-bottom: 5px;*/
    /*font-size: 2em;*/
    /*color: #fff;*/
/*}*/
.wstd-route-module .wstd-route-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #5ca837;
    border-radius: 50%;
    position: relative;
}
.wstd-route-module .wstd-route-btn p {
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 120%;
    white-space: nowrap;
    padding: 5px;
    background-color: #5ca837;
    border-radius: 5px;
    transform: translateY(-50%);
    max-width: unset;
    color: #fff;
}
.wstd-route-module .wstd-route-btn i {
    margin-bottom: 0;
}

.wstd-route-module .wstd-route-btn path{
    fill: #ffffff;
}

.wstd-route-btn .svg-inline--fa {
     display: unset;
     font-size: unset;
     height: 2em;
     overflow: unset;
     vertical-align: unset;
}

.wstd-route-btn .svg-inline--fa.fa-w-12 {
    width: 1.2em;
}
/* .label-title{
  display: block;
  padding-bottom: 10px;
  color: #8cb1b7;
  font-size: 22px;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 30px;
} */

.wstd-route-module .input-wrapper{
    position: relative;
    width: 50%;
    margin-right: 2em;
    flex-shrink: 1;
}

.wstd-route-module .card-grp {
    /* height: 100%; */
}

.wstd-route-module .card-input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 10px 20px;
    padding-right: 35px;
    background: #5ca837;
    cursor: pointer;
    position: relative;
    color: #fff;
    font-size: 1em;
    /* border-radius: 3px; */
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.wstd-route-module .arrow{
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
    color: #fff;
    transform: translateY(-50%);
}

.wstd-route-module ul.card-list{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    /* top: 52px; */
    bottom: 100%;
    display: none;
    background: #74c54d;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-y: scroll;
    max-height: 200px;
    min-height: 100px;
}

.wstd-route-module ul.card-list.visible{
    display: block;
}
.wstd-route-module ul li{
    padding: 10px 20px;
    cursor: pointer;
}

.wstd-route-module ul li{
    border-top: 0;
}

.wstd-route-module ul li .fab,
.wstd-route-module .card-input .fab{
    font-size: 2em;
    font-family: Roboto, sans-serif;
}
.wstd-route-module ul li{
    color: #fff;
    font-family: Roboto, sans-serif;
}

.wstd-route-module #module-el{
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    align-items: center;
}
.wstd-route-module .module-item{
    min-height: 50px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.wstd-route-module .module-item a {
    margin: 0 15px;
}

.wstd-route-module .btnCoord-text {
    margin-top: 10px;
    color: black;
    font-size: 0.8em;
    line-height: 1.2;
    vertical-align: middle;
    font-family: Roboto, sans-serif;
}

.wstd-route-module .btnCoord-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 33.33%;

    padding: 10px;
}

.wstd-route-module .js-btnCoord {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    background-color: #5ca837;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}
.wstd-route-module .module-icon {
    font-size: 2em;
    color: #fff;
}


@media (max-width: 640px) {
    .wstd-route-module {
        font-size: 0.8rem;
    }
    .wstd-route-module #module-el {
        overflow-y: unset;
        justify-content: center;
    }
    .wstd-route-module .container-module-wstd-btn {
        display: inline-block;
        top: -60px;
    }
    .wstd-route-module .container-module-wstd {
        flex-direction: column
    }
    .wstd-route-module .input-wrapper {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .wstd-route-module .module-item {
        justify-content: space-around;
        width: unset;
    }
    .wstd-route-module .js-btnCoord {
        width: 40px;
        height: 40px;
    }
    .wstd-route-module .module-icon {
        font-size: 1.5em;
    }
    /*.wstd-route-module .wstd-route-btn {*/
        /*width: 40px;*/
        /*height: 40px;*/
        /*border-radius: 50%;*/
        /*position: relative;*/
    /*}*/
    /*.wstd-route-module .wstd-route-btn p {*/
        /*font-size: 1em;*/
        /*position: absolute;*/
        /*top: 50%;*/
        /*left: 120%;*/
        /*white-space: nowrap;*/
        /*padding: 5px;*/
        /*background-color: #5ca837;*/
        /*border-radius: 5px;*/
        /*transform: translateY(-50%);*/
        /*max-width: unset;*/
    /*}*/
    /*.wstd-route-module .wstd-route-btn i {*/
        /*margin-bottom: 0;*/
    /*}*/

    /*custom site style*/
    /*footer {*/
        /*padding-bottom: 60px;*/
    /*}*/
}