.dd-activator > a[href="/services/"] + .drop-down-nav .drop-down-nav__col {
  justify-content: space-between;
  padding-right: 30px;
}

 .dd-activator > a[href="/services/"] + .drop-down-nav .drop-down-nav__col:last-child  {
  padding-right: 0px;
}

.dd-activator > a[href="/services/"] + .drop-down-nav .drop-down-nav__link {
  font-size: 1em;
  margin-bottom: 15px;
  position:unset;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.dd-activator > a[href="/services/"] + .drop-down-nav .drop-down-nav__link > img {
  max-width: 30px;
  height: 30px;
  position:unset;
  left: 0;
  top: 0;
}
.dd-activator > a[href="/services/"] + .drop-down-nav .drop-down-nav__link > span{
  padding-left: 15px;
}

.header__link_nolink {
  pointer-events: none;
  cursor: default;
}

@media (max-width: 374px) {
  .header__row_top {
    display: none;
  }
}

#formSuccess_appeal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  z-index: 1000;
}

.header {
  z-index: 500;
}

.social_links_fixed {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 5px;
  z-index: 10;
}

.social_links_fixed .social-links__link {
  margin-right: 10px;
}

.social_links_fixed .social-links__link path{
  fill: #5ca837;
}

.header__link_active:after {
  transition: 0.3s;
}
.price-list table td:last-child {
  white-space: nowrap;
  text-align: right;
}
.price-list table thead th:last-child {
  text-align: right;
}

.social_links_fixed .fa-youtube path{
  fill: #c4302b;
}
.social_links_fixed .fa-odnoklassniki-square path{
  fill: #ff6600;
}
.social_links_fixed .fa-twitter path{
  fill: #00acee;
}
.social_links_fixed .fa-instagram path{
  fill: #ea4c89;
}
.social_links_fixed .fa-facebook path{
  fill: #3b5998;
}

@media (max-width: 480px) {
  .social_links_fixed {
    display: block;
  }
  .services-image-hidden[style*='background-image:'] {
    background-image: unset !important;
    background-color: #ffffff;
  }
  .services-image-hidden[style*='background-image:'] .title{
    color: #4A4A4A;
  }
  .nkrnk {
    background-image: unset;
    background-color: #ffffff;
  }
  .nkrnk .title {
    color: #EE8D48;
  }
  .nkrnk__link {
    border: 1px solid #EE8D48;
    border-color: #EE8D48;
  }
}

@media (max-width: 374px) {
  .social_links_fixed .social-links__link {
    margin-right: 5px;
  }
  .header__box {
    top: 88px;
  }
  .header_fixed .header__box {
    top: 68px;
  }
  main{
    padding-top: 86px;
  }
  .section:nth-child(2) .map {
    margin-top: 43px;
  }
}

.header__btn {
  padding: 7.5px 30px;
}

.services__adress-dd {
  width: 100%;
}
.services__adress-dd-cont {
  width: 100%;
  margin: 0;
}
.card,
.section {
  overflow: unset;
}

.slider-main__social-links .link path{
  fill: #5CA836;
}
.slider-main__social-links .link:hover path{
  fill: #4A4A4A;
}
.award__banner {
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .award__banner {
    margin-bottom: 100px;
  }
  .award__banner img{
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .header__logo {
    width: 56px;
    height: 56px;
  }
  .header__btn {
    padding: 7.5px 15px;
  }
  .header__contacts {
    font-size: .9rem;
  }
}

.employees__img-box {
	border: none
}
.sub-services-nav__link {
	margin-bottom: 30px;
}


/* SOCIAL */
.social_links_fixed {
    bottom: 90px;
    right: 12px;
}
.social__box {
  position: relative;
}
.social__box-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
	background: white;
  border: 1px solid #5ca837;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  z-index: 1;
}
.social__box-button:hover, .social__box-button:focus {
  box-shadow: 0 0 3px 1px #5ca837;
}
.social__box-button svg {
  width: 60%;
  height: 60%;
}
.social__box-button path {
  fill: #5ca837;
}
.social__box-wrapper {
  display: flex;
  z-index: 0;
  overflow: hidden;
}
.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
/*   border: 1px solid #5ca837; */
	box-shadow: 0 0 3px 1px #5ca837;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  opacity: 0;
  transform: scale(0.4) translateY(200%);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.social__item svg {
  width: 60%;
  height: 60%;
}
.social__item i {
  color: #5ca837;
}
.social__item path {
  fill: #5ca837;
}
.social__item:nth-child(1) {
  transition-delay: 0;
}
.social__item:nth-child(2) {
  transition-delay: 0.1s;
}
.social__item:nth-child(3) {
  transition-delay: 0.11s;
}
.social__item:nth-child(4) {
  transition-delay: 0.12s;
}
.social__item:nth-child(5) {
  transition-delay: 0.13s;
}
.social__item:nth-child(6) {
  transition-delay: 0.14s;
}
.social__item:nth-child(7) {
  transition-delay: 0.15s;
}

.social__box.is-active .social__box-button {
  background: #5ca837;
  color: white;
}
.social__box.is-active .social__box-button path {
  fill: white;
}
.social__box.is-active .social__item {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.social__box--top .social__box {
  margin: 5px;
}
.social__box--top .social__box-wrapper {
  position: absolute;
  left: 50%;
  bottom: 100%;
  flex-direction: column-reverse;
  transform: translateX(-50%);
}
.social__box--top .social__item {
margin: 5px;
  margin-bottom: 10px;
}
.social__box--top .social__item:first-child {
  margin-bottom: 10px;
}
/* SOCIAL END */

/* FIX BLOG IMG*/
.img-60 {
	width: 60% !important;
}
.img-80 {
	width: 80% !important;
}
@media (max-width: 991px) {
	.img-80 {
		width: 100% !important;
	}
	.img-60 {
		width: 100% !important;
	}
}
/* FIX BLOG IMG*/